<template>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <p class="offer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="menu__right">
            <div class="menu__right--wraper">
              <ul class="menu__right-list">
                <li class="menu__item">
                  <a class="menu__link" href="#">Lorem ipsum</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">Lorem ipsum</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom--menu">
          <div class="header__bottom--menu--left">
            <ul class="leftmenu__list">
              <li class="leftmenu__item">
                <a class="leftmenu__link" href="#"
                  ><span><b>Lorem</b></span> <br />
                  Ipsum</a
                >
              </li>
              <li class="leftmenu__item">
                <input
                  class="header-input"
                  type="text"
                  placeholder="Search..."
                />
                <img src="../assets/images/search-icon.png" alt="search-icon" />
              </li>
            </ul>
          </div>
          <div class="header__bottom--menu--right">
            <ul class="menu-right__list">
              <li class="menu-right__item">
                <button class="secondary__button">Lorem ipsum</button>
                <img src="../assets/images/user-icon.png" alt="user-icon" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style scoped>
/* header__top */

.header__top {
  background-color: #21242d;
  color: #868996;
  font-size: 10px;
  padding: 6px 0;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  display: inline-block;
  padding-left: 10px;
}

.menu__item + .menu__item {
  margin-left: 10px;
  border-left: 1px solid #868996;
}

.menu__right--wraper {
  display: flex;
  justify-content: space-between;
}

/* header__bottom */

.header__bottom {
  background-color: #fff;
  color: #000;
}

.header__bottom--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right__list li:nth-child(1),
.menu-right__list li:nth-child(2) {
  position: relative;
}

.menu-right__item img {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 15px;
}

.menu-right__item + .menu-right__item {
  margin-left: 30px;
}

.menu-right__link {
  align-items: center;
  padding: 20px 0 14px;
  position: relative;
}

.leftmenu__list {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  line-height: 20px;
  align-items: center;
}

.leftmenu__list:nth-child(1) {
  font-size: 12px;
  line-height: 13px;
  padding-left: 40px;
  position: relative;
}

.leftmenu__list:nth-child(1) ::before {
  content: "";
  position: absolute;
  background-image: url("../assets/images/diamond-svgrepo-com.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: -2px;
  top: 14px;
}

.leftmenu__item + .leftmenu__item {
  padding-left: 15px;
}

.leftmenu__item input[type="text"] {
  width: 100%;
  border: 1px solid #e6e8ed;
  background: #e6e8ed;
  margin: 5px 0 5px;
  padding: 10px;
  border-radius: 3px;
  width: 350px;
  padding: 13px 13px 13px 20px;
  border-radius: 5px;
  position: relative;
}

.leftmenu__item img {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 15px;
  height: 15px;
}

.basket {
  position: relative;
  margin-left: 25px;
  margin-bottom: 25px;
}

.basket__num {
  position: absolute;
  font-weight: 500;
  color: #fff;
  font-size: 9px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  bottom: -15px;
  right: 4px;
}
</style>
