<script>
export default {
  name: "PurchaseList",
  props: ["purchaseList"],
  methods: {
    deletePurchase(index) {
      this.$emit("removePurchase", index);
    },
  },
};
</script>

<template>
  <div>
    <ul>
      <h4 v-if="!purchaseList.length">
        No purchase to display. Please add a purchase
      </h4>
      <li v-for="(purchase, index) in purchaseList" :key="index">
        <div class="purchase__item">
          <span>{{ purchase }}</span>
          <button @click="deletePurchase(index)" class="secondary__button">
            x
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.purchase__item {
  display: flex;
  gap: 20px;
  height: 30px;
  margin-bottom: 5px;
}

.purchase__item > span {
  width: 80%;
  color: #000;
  padding: 5px;
}

.purchase__item > span:hover {
  background-color: #f3f3f7;
}
.secondary__button {
  padding: 8px 10px;
  margin: 0;
}

.secondary__button:hover {
  border: 1px solid #7f828b;
}
</style>
