<script>
export default {
  name: "PurchaseForm",
  data() {
    return {
      purchase: "",
    };
  },
  methods: {
    onInput() {
      this.$emit("purchaseEntered", this.purchase);
    },
    addPurchase() {
      this.$emit("addToPurchaseList");
      this.purchase = "";
    },
  },
};
</script>

<template>
  <div>
    <input
      type="text"
      @input="onInput"
      v-model="purchase"
      placeholder="Add a purchase"
    />
    <button @click="addPurchase" class="small__button">Add</button>
  </div>
</template>

<style scoped>
input {
  width: 80%;
  margin-right: 20px;
  border: 1px solid #e6e8ed;
  background: #e6e8ed;
  margin: 5px 0 5px;
  padding: 5px;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.small__button {
  width: 40px;
  margin-left: 20px;
}
</style>
