<script>
import Header from "./components/Header.vue";
import PurchaseForm from "./components/PurchaseForm.vue";
import PurchaseList from "./components/PurchaseList.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  data() {
    return {
      purchase: "",
      purchaseList: ["apple", "banana", "milk"],
    };
  },

  components: {
    Header,
    PurchaseForm,
    PurchaseList,
    Footer,
  },
  methods: {
    onPurchaseEntered(text) {
      this.purchase = text;
    },
    onAddToPurchaseList() {
      if (this.purchase !== "") {
        this.purchaseList.push(this.purchase);
        this.purchase = "";
      }
    },
    onRemovePurchase(index) {
      this.purchaseList.splice(index, 1);
    },
  },
};
</script>

<template>
  <Header />
  <section class="purchase">
    <div class="container">
      <div class="purchase__inner">
        <PurchaseForm
          @purchaseEntered="onPurchaseEntered"
          @addToPurchaseList="onAddToPurchaseList"
        />
        <PurchaseList
          :purchaseList="purchaseList"
          @removePurchase="onRemovePurchase"
        />
      </div>
    </div>
  </section>
  <Footer />
</template>

<style>
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: "SFProDisplay-Bold", sans-serif;
}

p {
  margin: 0;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  background-color: #eeeff3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.purchase {
  margin: 50px 0;
  min-height: 300px;
}

.purchase__inner {
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.main__button {
  background-color: #5e24da;
  margin: 15px 0;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 12px 12px;
  width: 205px;
  border: none;
  border-radius: 5px;
}

.secondary__button {
  background-color: #fff;
  margin: 15px 0;
  color: #868996;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  padding: 10px 45px 10px 15px;
  border: 1px solid #c2c4ca;
  border-radius: 5px;
}

.small__button {
  background-color: #5e24da;
  margin: 15px 0;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  padding: 12px 12px;
  width: 80px;
  border: none;
  border-radius: 5px;
}
</style>
